@page
@model VeterinaryClinic.Pages.ForgotPasswordConfirmationModel
@{
    ViewData["Title"] = "Подтверждение отправки кода";
}

<h2>@ViewData["Title"]</h2>
<p>
    Если указанный email существует в нашей системе, мы отправили на него код восстановления.
    Пожалуйста, проверьте вашу почту.
</p>
