@page
@model VeterinaryClinic.Pages.ResetPasswordConfirmationModel
@{
    ViewData["Title"] = "Подтверждение сброса пароля";
}

<h2>@ViewData["Title"]</h2>
<p>
    Ваш пароль был успешно изменен. <a asp-page="./Login">Войдите</a>.
</p>
